.footer {
    background-color: #000;
    width: 100%;
    min-height: 350px;
    display: flex;
    align-items: center;
    text-align: center;
    &_text {
        margin: 10px;
        font-family: "Just Me Again Down Here", cursive;
        font-weight: 400;
        color: #fff;
        font-size: 44px;
    }
}

@media (max-width: 800px) {
    .footer {
        &_text {
            font-size: 38px;
        }
    }
}

@media (max-width: 600px) {
    .footer {
        &_text {
            font-size: 30px;
        }
    }
}